* {
    margin: 0;
    padding: 0;
}

header {
    background: #ffffff;

    nav {
        display: flex;
    }

    ul {
        list-style: none;
    }

    li {
        font-family: 'Syne', sans-serif;
        font-size: 16px;
        font-weight: 800;
        color: #1E1E1E;
    }

    .nav-link {
        color: #1E1E1E;
    }
    
}

main {
    .welcome-contact {
        padding-top: 100px;
        padding-bottom: 100px;
        font-family: 'Syne', sans-serif;
        color: #1E1E1E;
    }

    h1 {
        font-size: 48px;
        font-weight: 800;
    }
    
    h2 {
        font-size: 28px;
        font-weight: 800;
        padding-bottom: 15px;
    }
    
    h4 {
        font-size: 24px;
        font-weight: 800;
    }
    
    h5 {
        font-size: 16px;
        font-weight: 400;
    }
    
    p {
        font-size: 18px;
        font-weight: 400;
    }

    a {
        font-size: 16px;
        font-weight: 800;
        color: #1E1E1E !important;
    }
}

footer {
    background: #1E1E1E;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
        color: #ffffff; 
    }
}
/* Desktop-Device */

@media (min-width: 900px) and (max-width: 1920px) {
    
    ul {
        justify-content: end;
    }
}